@media only screen and (max-width: 2000px) {
  .city-music-container {
    display: none;
  }
  .city-search {
    width: 50%;
    text-align: center;
    padding: 10px;
    margin-top: 5%;
    margin-left: 25%;
    font-family: monospace;
  }
  .map-icon{
    color: #5cdb95;
    font-size: 1.4rem;
    margin-left: 10px;
  }
  .map-icon:hover{
    cursor: pointer;
  }
  .search-input {
    margin-top: 10px;
    border: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    border-color: #05386b;
    color: #05386b;
    font-family: "Courier New", Courier, monospace;
  }

  .search-icon-closed {
    display: none;
  }

  .search-closed {
    display: none;
  }

  .search-icon {
    color: #5cdb95;
    font-size: 2rem;
    margin-right: 10px;
  }
  .search-icon:hover {
    cursor: pointer;
  }
  .cities-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .west-cities {
    margin-top: 80px;
    width: 50%;
    border-style: solid;
    border-width: 0 2px;
    border-color: #05386b;
  }

  .east-cities {
    margin-top: 80px;
    width: 50%;
  }

  .city {
    text-decoration: none;
    color: #05386b;
  }

  .title {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    color: #05386b;
    font-size: 1.5rem;
  }
  .title2 {
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    color: #5cdb95;
    text-transform: uppercase;
    font-size: larger;
    text-decoration: underline;
  }

  .city-title {
    border-style: solid;
    border-width: 2px;
    border-color: #05386b;
    border-radius: 10px;
    background-color: #5cdb95;
    color: #edf5e1;
    margin-left: 20%;
    margin-right: 20%;
  }

  .west-cities h1 {
    text-decoration: underline;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
  }

  .east-cities h1 {
    text-decoration: underline;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
  }

  .city-desktop-container {
    margin-top: 30px;
  }

  .city-desktop-container h2 {
    margin-top: 20px;
  }

  .west-cities div {
    display: grid;
    text-align: center;
  }

  .east-cities div {
    display: grid;
    text-align: center;
  }

  .CA {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .CA:hover {
    cursor: pointer;
  }

  .CA:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #da7474;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .CA:hover:before,
  .CA:focus:before,
  .CA:active:before {
    left: 0;
  }
  .GA {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .GA:hover {
    cursor: pointer;
  }

  .GA:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #da7474;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .GA:hover:before,
  .GA:focus:before,
  .GA:active:before {
    left: 0;
  }

  .CO {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .CO:hover {
    cursor: pointer;
  }

  .CO:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #deb773;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .CO:hover:before,
  .CO:focus:before,
  .CO:active:before {
    left: 0;
  }

  .IL {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .IL:hover {
    cursor: pointer;
  }

  .IL:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #deb773;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .IL:hover:before,
  .IL:focus:before,
  .IL:active:before {
    left: 0;
  }

  .WA {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .WA:hover {
    cursor: pointer;
  }

  .WA:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #ffff7d;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .WA:hover:before,
  .WA:focus:before,
  .WA:active:before {
    left: 0;
  }
  .NC {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .NC:hover {
    cursor: pointer;
  }

  .NC:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #ffff7d;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .NC:hover:before,
  .NC:focus:before,
  .NC:active:before {
    left: 0;
  }

  .FL {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .FL:hover {
    cursor: pointer;
  }

  .FL:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #5cdb95;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .FL:hover:before,
  .FL:focus:before,
  .FL:active:before {
    left: 0;
  }

  .NY {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    padding: 2px;
    color: #05386b;
  }

  .NY:hover {
    cursor: pointer;
  }

  .NY:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 100%;
    right: 0;
    bottom: 0;
    background: #05386b;
    height: 4px;
    -webkit-transition-property: left;
    transition-property: left;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .NY:hover:before,
  .NY:focus:before,
  .NY:active:before {
    left: 0;
  }
  .cities-mobile-container {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .cities-container {
    display: none;
  }
  .cities-mobile-container {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
  .button-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
  }

  .button-container1 {
    margin-top: 200px;
    position: relative;
    display: grid;
    justify-content: space-around;
  }
  .button-container1 button {
    position: relative;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 0px 0px 3px 3px;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(5, 56, 107);
    animation: entrance 0.3s linear;
  }

  .button-text-yes{
    padding-left: 15px;
    padding-right: 15px;
  }

  @keyframes colors {
    0% {
      color: rgb(255, 119, 119);
      /* background-color: rgb(255, 255, 218); */
      
    }
    25% {
      color: rgb(255, 119, 119);
      /* background-color: rgb(204, 255, 255); */
      
    }
    50% {
      color: rgb(0, 255, 255);
      /* background-color: #d6ffe8; */
      
    }
    75% {
      color: #5cdb95;
      /* background-color: rgb(255, 211, 211); */
      
    }
    100% {
      color: rgb(255, 255, 113);
      /* background-color: rgb(250, 187, 187); */

    }
  }

  @keyframes entrance {
    0% {
      margin-top: 100vh;
    }
    50% {
    }
    100% {
      margin-top: 0px;
    }
  }
  .inner-button {
    position: relative;
    padding: 20px;
  }

  .inner-button span {
    position: absolute;
    border-radius: 100vmax;
  }
  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(255, 49, 49, 0.5),
      rgb(255, 49, 49)
    );
  }

  .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgb(57, 255, 20),
      rgba(57, 255, 20, 0.5),
      transparent 50%
    );
  }

  .right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255)
    );
  }

  .left {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 113),
      rgba(255, 255, 113, 0.5),
      transparent 70%
    );
  }

  .top {
    animation: animateTop 3s ease-in-out infinite;
  }

  .bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }

  .right {
    animation: animateRight 3s ease-in-out infinite;
  }

  .left {
    animation: animateLeft 3s ease-in-out infinite;
  }

  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }

    30%,
    100% {
      opacity: 0;
    }
  }

  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }

    75% {
      opacity: 1;
      width: 100%;
    }

    76%,
    100% {
      opacity: 0;
    }
  }

  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }

    50% {
      opacity: 1;
      height: 100%;
    }

    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }

  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }

    100% {
      opacity: 1;
      height: 100%;
    }
  }

  .mobile-city-container {
    text-align: center;
    margin-top: 50px;
  }
  .mobile-city {
    font-family: "Courier New", Courier, monospace;
    margin-top: 25px;
  }
  .active-city {
    background-color: #5cdb95;
    border-style: none;
    border-style: solid;
    border-radius: 5px;
    border-color: #ffffff;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.3rem;
    box-shadow: #5cdb95 0 0 20px;
    color: white;
  }
  .city-button {
    /* box-shadow:  #5cdb95 0 0 20px; */
    border-style: none;
    border-style: solid;
    border-radius: 5px;
    border-color: #5cdb95;
    color: #ffffff;
    background-color: #05386b;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  .city-button-gone {
    position: absolute;
    bottom: 0;
    margin-bottom: 28%;
    border-style: none;
    border-style: solid;
    border-radius: 5px;
    border-color: #5cdb95;
    color: #ffffff;
    background-color: #05386b;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
  }
  .city-music-container {
    display: contents;
  }
  .pre-button-container {
    display: none;
  }
  .search-input {
    margin-top: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
